name: Android CI

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Cache Gradle packages
        uses: gradle/gradle-build-action@v2

      - name: Install Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant execute permission for Gradlew
        run: chmod +x gradlew

      - name: Run unit tests
        run: ./gradlew testDebugUnitTest

      - name: Assemble debug APK
        run: ./gradlew assembleDebug
